$light: #fff;
$dark: #000;
$primary: #00d7bb;
$bg-site: #22252c;
$bg-dark-side: #141820;
$textLeft: #01f3a4;
$textRight: #06f6eb;

$open100: "Open-Sans Light";
$open: "Open-Sans";
$open600: "Open-Sans Semibold";
$open700: "Open-Sans Bold";
$open800: "Open-Sans ExtraBold";